{% extends "../base.html" %} {% block titulo %} Usuarios de MyWallapop {% endblock %}

{% block contenido_principal %}
<h2>Usuarios en el sistema</h2>
<p>Los usuarios que actualmente figuran en el sistema son los
    siguientes:</p>

<div class="table-responsive">
    <form method="post" action="/user/delete">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>
                    <input class="btn btn-info" type="submit" id="DeleteButton"
                           value="Eliminar usuarios seleccionados"/>
                </th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in usuarioList %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido }}</td>
                <td><input id="idsUserDelete" type="checkbox"
                           name="idsUserDelete" value='{{user.email}}'></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->

<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{ pagina}}">
            <a class="page-link" href="/user/list?pg={{ pagina }}">{{ pagina }}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{actual}}").addClass("active");
        </script>
    </ul>
</div>

{% endblock %}